/* fonts */
$title-big-fonts: 8rem;
$title-medium-fonts: 4rem;
$title-small-fonts: 3.2rem;

$title-att-big-fonts: 4.8rem;
$title-att-medium-fonts: 3rem;
$title-att-small-fonts: 2.4rem;

$text-big-fonts: 2rem;
$text-medium-fonts: 1.8rem;

/* color */

$svg-color: #111;
$svg-hover-color: #9cf5f1;
$title-color: #111;
$title-color-light: #fff;

$text-color: #111;
$text-color-light: #fff;

$attention-color: #ff3939;
$primary1: #fff;
$primary2: #000;
$primary-text: #202727;

$opacity-black: rgba(#000, 0.1);

$card-color: #efefef;
$hover-color-inactive: #f5f5f5;
$hover-color-active: #c6c6c6;
$hover-text-color: #99eaee;

/* shadow */

$primary-shadow: 5 5 25 rgba($primary2, 0.25);
$primary-shoes-dark-shadow: 0 22 45 rgba($primary2, 0.25);
$primary-shoes-light-shadow: 0 10 20 rgba($primary2, 0.25);
