/* html */

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	font-family: "Montserrat", sans-serif;
}

.container {
	max-width: 133.5rem;
	padding: 15px;
	margin: 0 auto;
}

/* btn */

.btn {
	padding: 1rem 2.5rem;
	border-radius: 1.6rem;
	background: none;
	border: none;
	cursor: pointer;
	&--dark {
		font-size: 2rem;
		background-color: $primary2;
		color: $primary1;
		transition: background-color 0.3s ease, color 0.3s ease 0.15s;
		&:hover {
			background-color: $primary1;
			color: $primary2;
		}
	}
	&--light {
		font-size: 1.6rem;
		background-color: $primary1;
		color: $primary2;
		transition: background-color 0.3s ease, color 0.3s ease 0.15s;
		&:hover {
			background-color: $primary2;
			color: $primary1;
		}
	}
	&--icons {
		padding: 0;
		width: 55px;
		height: 55px;
		background-color: $primary1;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: background-color 0.2s ease 0s;
		svg {
			transition: fill 0.2s ease 0.1s;
		}
		&:hover {
			background-color: $primary2;
			svg {
				fill: $svg-hover-color;
			}
		}
	}
}

/* texts */

.title {
	font-size: $title-big-fonts;
	color: $title-color;
	font-weight: 900;
	font-style: italic;

	&--light {
		color: $title-color-light;
	}
	&--medium {
		font-size: $title-medium-fonts;
	}
	&--accent {
		text-transform: uppercase;
		color: $attention-color;
	}
	&--mild {
		font-weight: 700;
	}
}

.text {
	color: $text-color;
	font-size: $text-big-fonts;
	&--light {
		font-size: $text-medium-fonts;
		color: $text-color-light;
	}
	&--bold {
		font-weight: 900;
	}
}
